* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(17, 84, 185, 0.02);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loader {
  height: 400px;
  width: 400px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-control {
  padding: 1em 1.5em;
  width: 100%;
  // background-color: transparent;
  outline: none;
  border-width: 0.5px;
  border-radius: 30px;
}

main {
  width: 95%;
  max-width: 1200px;
  margin: 3em auto 2em;
  position: relative;

  @media screen and (min-width: 768px) {
    margin: 4em auto 2em;
  }
}

.search-bar {
  margin-bottom: 1em;
  display: block;
  position: sticky;
  top: 10px;

  .form-control {
    padding: 1.25em;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.02);
    border-width: 0.3px;
    border-color: rgba(0, 0, 0, 0.9);
  }
}

.results {
  position: relative;
  
  @media screen and (min-width: 768px) {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 1em;
  }
}

.filters, .profile {
  border-radius: 10px;
  transition: all 0.5s ease;
}

.filters {
  padding: 1em 1.25em;
  margin-bottom: 1.5em;
  background-color: #fff;

  @media screen and (max-width: 767px) {   
    .filters__container {
      display: flex;

      .filter {
        margin-right: 1em;
      }
    }
  }

  @media screen and (min-width: 768px) {   
    position: sticky;
    top: 80px;
    height: 400px;
  }

  p {
    margin-bottom: 0.75em;
    font-weight: 600;
  }
  
  .filter {
    @media screen and (min-width: 768px) {   
      margin-bottom: 1.5em;
    }


    label, .form-control {
      display: block;
    }
    
    label {
      margin-bottom: 0.5em;
      font-size: 0.85rem;
    }

    .form-control {
      display: block;

      option {
        text-transform: capitalize;
      }
    }
  }
}

.profile {
  padding: 1em 1.25em;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.009);
  margin-bottom: 1em;
  background-color: #fff;
  cursor: pointer;
  
  &:hover {
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.03);
  }
}

.pagination {
  display: flex;
  justify-content: flex-end;

  p {
    margin: 0 1em;
  }

  button {
    padding: 0.5em 1em;
    background-color: rgb(17, 124, 211);
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
  }
}

